API_PORT=3100
MAIL_SERVICE_PORT=3101

DATABASE_HOSTNAME=crypto_jet_db
DATABASE_PORT=5432
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_USERNAME=

ALGORITHM=HS256
ACCESS_TOKEN_SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=600

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
WELCOME_QUEUE_NAME=welcome_message

jwt_cookie_name=